[Desktop Entry]
Type=Application
Exec=/usr/bin/plank
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Plank
Name=Plank
Comment[en_CA]=Launcher
Comment=Launcher
